<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Inicio</title>
</head>
<body>
    <div class="container">
        <h2>Bienvenido, {{ cliente }}</h2>
        <table>
            <tr>
                <th>Cartón</th>
                <th>Plástico</th>
                <th>Medical</th>
                <th>Vidrio</th>
                <th>Metal</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
    </div>
</body>
</html>
